<!DOCTYPE html>
<html >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Hotel Dashboard Template</title>
  <link rel="shortcut icon" type="image/x-icon" href="../src/assets/img/favicon.png">
</head>

<body>
<div class="main-wrapper">
  <div class="header">
    <div class="header-left">
      <a routerLink="" class="logo"> <img src="../assets/img/logorecette.png" alt="logo">  </a>

    </div>
    <a href="javascript:void(0);" id="toggle_btn"> <i class="bi bi-justify-left"></i> </a>

    <ul class="nav user-menu">
      <li class="nav-item dropdown noti-dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="bi bi-bell"></i> <span class="badge badge-pill">3</span> </a>
        <div class="dropdown-menu notifications">
          <div class="topnav-dropdown-header"> <span class="notification-title">Notifications</span> <a href="javascript:void(0)" class="clear-noti"> Clear All </a> </div>
          <div class="noti-content">
            <ul class="notification-list">
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="../src/assets/img/profiles/avatar-02.jpg">
											</span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                      <p class="noti-time"><span class="notification-time">4 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="../src/assets/img/profiles/avatar-11.jpg">
											</span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">International Software
													Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                      <p class="noti-time"><span class="notification-time">6 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="../src/assets/img/profiles/avatar-17.jpg">
											</span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone
													XR</span></p>
                      <p class="noti-time"><span class="notification-time">8 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="../src/assets/img/profiles/avatar-13.jpg">
											</span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">Mercury Software
												Inc</span> added a new product <span class="noti-title">Apple
												MacBook Pro</span></p>
                      <p class="noti-time"><span class="notification-time">12 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="topnav-dropdown-footer"> <a href="#">View all Notifications</a> </div>
        </div>
      </li>
      <li class="nav-item dropdown has-arrow">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span> </a>
        <div class="dropdown-menu">
          <div class="user-header">
            <div class="avatar avatar-sm"> <img src="../src/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
            <div class="user-text">
              <h6>Soeng Souy</h6>
              <p class="text-muted mb-0">Administrator</p>
            </div>
          </div> <a class="dropdown-item" href="profile.html">My Profile</a> <a class="dropdown-item" href="settings.html">Account Settings</a> <a class="dropdown-item" href="login.html">Logout</a> </div>
      </li>
    </ul>
    <div class="top-nav-search">
      <form>
        <input type="text" class="form-control" placeholder="Search here">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li class="active"> <a href="index.html"><i class="bi bi-chevron-double-down"></i> <span>Tableau de bord</span></a> </li>
          <li class="list-divider"></li>







         <li class="submenu"> <a href="#"><i class="bi bi-person-circle"></i><span> Accounts </span> <span class="menu-arrow"></span></a>
          <ul class="submenu_class" style="display: none;">
              <li><a href="invoices.html">Invoices </a></li>
              <li><a href="payments.html">Payments </a></li>
              <li><a href="expenses.html">Expenses </a></li>
              <li><a href="taxes.html">Taxes </a></li>
              <li><a href="provident-fund.html">Provident Fund </a></li>
            </ul>
          </li>

          <li> <a href="calendar.html"><i class="bi bi-calendar-month-fill"></i> <span>Calendar</span></a> </li>

          <li class="submenu"> <a href="#"><i class="bi bi-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
            <ul class="submenu_class" style="display: none;">
              <li><a href="tables-basic.html">Basic Table </a></li>
              <li><a href="tables-datatables.html">Data Table </a></li>
            </ul>
          </li>
        </ul></div>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12 mt-5">
            <h3 class="page-title mt-3">Good Morning ...!</h3>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill">
            <div class="card-body">
              <div class="dash-widget-header">
                <div>
                  <h3 class="card_widget_header"></h3>
                  <h6 class="text-muted"></h6> </div>
                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
									<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
									<circle cx="8.5" cy="7" r="4"></circle>
									<line x1="20" y1="8" x2="20" y2="14"></line>
									<line x1="23" y1="11" x2="17" y2="11"></line>
									</svg></span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill">
            <div class="card-body">
              <div class="dash-widget-header">
                <div>
                  <h3 class="card_widget_header"></h3>
                  <h6 class="text-muted"></h6> </div>
                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
									<line x1="12" y1="1" x2="12" y2="23"></line>
									<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
									</svg></span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill">
            <div class="card-body">
              <div class="dash-widget-header">
                <div>
                  <h3 class="card_widget_header"></h3>
                  <h6 class="text-muted"></h6> </div>
                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
									<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
									</path>
									<polyline points="14 2 14 8 20 8"></polyline>
									<line x1="12" y1="18" x2="12" y2="12"></line>
									<line x1="9" y1="15" x2="15" y2="15"></line>
									</svg></span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill">
            <div class="card-body">
              <div class="dash-widget-header">
                <div>
                  <h3 class="card_widget_header"></h3>
                  <h6 class="text-muted"></h6> </div>
                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
									<circle cx="12" cy="12" r="10"></circle>
									<line x1="2" y1="12" x2="22" y2="12"></line>
									<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
									</path>
									</svg></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex">
          <div class="card card-table flex-fill">
            <div class="card-header">
              <h4 class="card-title float-left mt-2" style="font-family: Lato">Ajouter vos immobilier !</h4>
              <br>
              <button  routerLink="/addimob" type="button" class="btn btn-primary float-right veiwbutton"style="font-family: Lato" > <i class="bi bi-plus-circle"></i> IMMOBILIER</button>





            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center">
                  <thead>
                  <tr>
                    <th>Identifiant</th>
                    <th>Localitation</th>
                    <th>Paiement</th>
                  </thead>
                  <tbody >
                  <tr *ngFor="let p of listImob">
                    <td class="text-nowrap">
                      <div>{{p.id}}</div>
                    </td>
                    <td class="text-nowrap">{{p.localisation}}</td>

                    <td class="text-center" routerLink="/paiement"><a routerLink="/paiement"> <span class="badge badge-pill bg-success inv-badge">payé</span> </a></td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../src/assets/js/jquery-3.5.1.min.js"></script>
<script src="../src/assets/js/popper.min.js"></script>
<script src="../src/assets/js/bootstrap.min.js"></script>
<script src="../src/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../src/assets/plugins/raphael/raphael.min.js"></script>
<script src="../src/assets/plugins/morris/morris.min.js"></script>
<script src="../src/assets/js/chart.morris.js"></script>
<script src="../src/assets/js/script.js"></script>
</body>
</html>

