
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

</head>
<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar" style="background-color:#1545b3">
  <div class="sidebar-header">


  <a routerLink="">  <img src="assets/img/logorecette.png"  style="max-height:165px;margin-top:35px " ></a>

    <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="">
          <span class="ti-home"></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-face-smile"></span>
          <span>Team</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-agenda"></span>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-clipboard"></span>
          <span>Leaves</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-folder"></span>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-time"></span>
          <span>Timesheet</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-book"></span>
          <span>Contacts</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-settings"></span>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="main-content">

  <header>
    <div class="search-wrapper">
      <span class="ti-search "style="color: #1545b3"></span>
      <input type="search" placeholder="Search" style="color: #1545b3">
    </div>

    <div class="social-icons">
      <span class="ti-bell" style="color: #1545b3"></span>
      <span class="ti-comment" style="color: #1545b3" ></span>
      <div></div>
    </div>
  </header>

  <main>



    <section class="recent">



      <div class="activity-grid">
        <div class="activity-card">
          <h3  style="font-family: Lato ;font-weight: bold;font-size:25px" >IMMOBILIER</h3>
          <button class="btnajout"  data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/addimob/{{id}}" style="color: white;width: 740px">Ajouter immobilier</button>



          <br><br>
          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <th style="font-family: Lato;font-size: 18px">Identifiant</th>
                <th style="font-family: Lato;font-size: 18px">Localisation</th>
                <th style="font-family: Lato;font-size: 18px">Methode payement</th>

                <th style="font-family: Lato;font-size: 18px">Status</th>
              </tr>
              </thead>
                  <tbody  *ngFor="let p of listImob" >

                  <tr *ngIf="id == p.idUser">
                    <td class="text-nowrap">
                      <div style="font-weight: bold">{{p.id}}</div>
                    </td>
                    <td class="text-nowrap">{{p.localisation}}</td>
                    <td><i class="bi bi-credit-card-2-front-fill" style="font-size: 30px; margin-left: 75px;color: rgba(21,69,178,0.24)"></i></td>


                    <td class="text-nowrap center" > <button  routerLink="/paiement/{{p.id}}/{{p.localisation}}/{{id}}"  [disabled]="p.etat === 'paye'"><span [ngStyle]="{color: p.etat === 'paye' ? '#ffffff' : '#ffffff'}" >{{p.etat}}</span></button> </td>


                  </tr>

                  </tbody>
                </table>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>








    </section>

  </main>

</div>

<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../src/assets/js/jquery-3.5.1.min.js"></script>
<script src="../src/assets/js/popper.min.js"></script>
<script src="../src/assets/js/bootstrap.min.js"></script>
<script src="../src/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../src/assets/plugins/raphael/raphael.min.js"></script>
<script src="../src/assets/plugins/morris/morris.min.js"></script>
<script src="../src/assets/js/chart.morris.js"></script>
<script src="../src/assets/js/script.js"></script>
</body>
</html>

