
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">

      <a href="index.html"><img src="../assets/img/logorecette.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">

      <ul>
        <li><a class="nav-link scrollto active" href="index.html" >Acceuil</a></li>
        <li><a class="nav-link scrollto" href="#about">A propos</a></li>
        <li class="dropdown"><a href="#" class="nav-link scrollto">Municipalités Enregistrées</a>

              <ul>

            <li><a href="#"><i class="bi bi-patch-check-fill"></i>Tunis<a href="#">Sfax</a> <a href="#"><i class="bi bi-patch-check-fill"></i>Sousse</a><a href="#">Kairouan</a><a href="#"><i class="bi bi-patch-check-fill"></i>Bizerte</a><a href="#">Gabès</a><a href="#"><i class="bi bi-patch-check-fill"></i>Ariana</a><a href="#">Gafsa</a> </a></li>
      <hr>
            <li><a href="#">Ben Arous<a href="#">Kasserine</a><a href="#"><i class="bi bi-patch-check-fill"></i>Médenine</a><a href="#"><i class="bi bi-patch-check-fill"></i>Nabeul</a><a href="#">Tataouine</a><a href="#">Béja</a><a href="#">Le Kef</a><a href="#"><i class="bi bi-patch-check-fill"></i>Mahdia</a></a></li>
      <hr>
            <li><a href="#">Jendouba<a href="#">Tozeur</a><a href="#"><i class="bi bi-patch-check-fill"></i>La Manouba</a><a href="#">Siliana</a><a href="#">Zaghouan</a><a href="#"><i class="bi bi-patch-check-fill"></i>Kébili</a><a href="#">Sidi Bouzid</a><a href="#">Monastir</a></a></li>

              </ul>
        </li>

        <li><a class="nav-link scrollto" href="#services">Services</a></li>


        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <div data-aos="zoom-in" data-aos-delay="100">
        <li><a  routerLink="/login" class="btn-get-started scrollto "><i class="bi bi-person-fill"></i>Connecter   </a ></li>
        </div>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- #header -->
