

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

</head>
<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar" style="background-color:#1545b3">
  <div class="sidebar-header">


  <a routerLink=""> <img src="assets/img/logorecette.png"  style="max-height:165px;margin-top:35px " ></a>

    <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="">
          <span class="ti-home"></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-face-smile"></span>
          <span>Team</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-agenda"></span>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-clipboard"></span>
          <span>Leaves</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-folder"></span>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-time"></span>
          <span>Timesheet</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-book"></span>
          <span>Contacts</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-settings"></span>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="main-content">

  <header>
    <div class="search-wrapper">
      <span class="ti-search "style="color: #1545b3"></span>
      <input type="search" placeholder="Search" style="color: #1545b3">
    </div>

    <div class="social-icons">
      <span class="ti-bell" style="color: #1545b3"></span>
      <span class="ti-comment" style="color: #1545b3" ></span>
      <div></div>
    </div>
  </header>

  <main>

    <h2 class="dash-title" style="font-family: Lato ;font-weight: bold;font-size:25px" >Statistique</h2>

    <div class="dash-cards">
      <div class="card-single">
        <div class="card-body">
          <span class="ti-briefcase"></span>
          <div>
            <h5>Account Balance</h5>
            <h4>$30,659.45</h4>
          </div>
        </div>
        <div class="card-footer">
          <a href="">View all</a>
        </div>
      </div>

      <div class="card-single">
        <div class="card-body">
          <span class="ti-reload"></span>
          <div>
            <h5>Pending</h5>
            <h4>$19,500.45</h4>
          </div>
        </div>
        <div class="card-footer">
          <a href="">View all</a>
        </div>
      </div>

      <div class="card-single">
        <div class="card-body">
          <span class="ti-check-box"></span>
          <div>
            <h5>Processed</h5>
            <h4>$20,659</h4>
          </div>
        </div>
        <div class="card-footer">
          <a href="">View all</a>
        </div>
      </div>



    </div>


    <section class="recent">
      <div class="activity-grid">
        <div class="activity-card">
          <h3 style="font-family: Lato ;font-weight: bold;font-size:25px" >Les Activités Récent</h3>

          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <th>Project</th>
                <th>Start Date</th>
                <th>End Date</th>

                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>App Development</td>
                <td>15 Aug, 2020</td>
                <td>22 Aug, 2020</td>

                <td>
                  <span class="badge success">Success</span>
                </td>
              </tr>
              <tr>
                <td>Logo Design</td>
                <td>15 Aug, 2020</td>
                <td>22 Aug, 2020</td>

                <td>
                  <span class="badge warning">Processing</span>
                </td>
              </tr>
              <tr>
                <td>Server setup</td>
                <td>15 Aug, 2020</td>
                <td>22 Aug, 2020</td>

                <td>
                  <span class="badge success">Success</span>
                </td>
              </tr>
              <tr>
                <td>Front-end Design</td>
                <td>15 Aug, 2020</td>
                <td>22 Aug, 2020</td>

                <td>
                  <span class="badge warning">Processing</span>
                </td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>15 Aug, 2020</td>
                <td>22 Aug, 2020</td>

                <td>
                  <span class="badge success">Success</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="summary">
          <div class="summary-card">
            <div class="summary-single">
              <span class="ti-id-badge"></span>
              <div>
                <h5>4000</h5>
                <small>nombre de clients</small>
              </div>
            </div>
            <div class="summary-single">
              <span class="ti-calendar"></span>
              <div>
                <h5>16</h5>
                <small>Number of leave</small>
              </div>
            </div>
            <div class="summary-single">
              <span class="ti-face-smile"></span>
              <div>
                <h5>12</h5>
                <small>Profile update request</small>
              </div>
            </div>
          </div>


        </div>
      </div>
      <br><br><br>


      <div class="activity-grid">
        <div class="activity-card">
          <h3  style="font-family: Lato ;font-weight: bold;font-size:25px"  >IMMOBILIER</h3>
          <button class="btn" routerLink="/addimobmunic" style="color: white">Ajouter Immobilier</button>
          <br><br>
          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <th style="font-family: Lato;font-size: 18px">Identifiant</th>
                <th style="font-family: Lato;font-size: 18px">Localisation</th>
                <th style="font-family: Lato;font-size: 18px">Methode payement</th>

                <th style="font-family: Lato;font-size: 18px">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let p of listImob">
                <td class="text-nowrap">
                  <div style="font-weight: bold">{{p.id}}</div>
                </td>
                <td class="text-nowrap">{{p.localisation}}</td>
                <td><i class="bi bi-credit-card-2-front-fill" style="font-size: 30px; margin-left: 75px;color: rgba(21,69,178,0.24)"></i></td>

                <td class="text-center" routerLink="/paiement"><a routerLink="/paiement"> <span class="bs">{{p.etat}}</span> </a></td>

              </tr>

              </tbody>

            </table>
          </div>
        </div>




      </div>








    </section>

  </main>

</div>

</body>
</html>
