<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Recette Municipale</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <!-- Vendor CSS Files
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->

  <!-- Template Main CSS File -->

  <!-- =======================================================
  * Template Name: NewBiz - v4.7.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<app-navbar></app-navbar>

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">

    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="../assets/img/hero-img.svg" alt="" class="img-fluid">
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Nous vous <br><span >Facilitons </span><br>La Vie !</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto ">Commencer</a>
        <a href="#services" class="btn-services scrollto">Nos services</a>
      </div>
    </div>

  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3> À propos de nous</h3>
        <p>La plateforme numérique municipale RECETTE MUNICIPALE !</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p class="propos">
            La plateforme numérique municipale RECETTE MUNICIPALE  est une plateforme électronique créée pour faciliter la communication numérique entre les municipalités et les citoyens à travers une gamme de services administratifs .
            <br>Découvrez les services de la plateforme et les communes inscrites à ce jour.
          </p>
<br><br>
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="#services" >Services Administratifs</a></h4>

          </div>


        </div>

        <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
          <img src="../assets/img/about-extra-2.svg" class="img-fluid" alt="">
        </div>
      </div>



    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Nos Services Administratifs</h3>
        <p>Profitez des services municipaux à distance.</p>
      </header>

      <div class="row justify-content-center">




        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon"><i class="bi bi-credit-card-2-front" style="color: #004a98;margin-left: 20px;"></i></div>
            <h4 class="title"><a routerLink="login">Service de paiement à distance</a></h4>
            <p class="description">Vous Aurez La Possibilité De Payer Vos Factures <BR> En Ligne</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100" >
          <div class="box" >
            <div class="icon"><i class="bi bi-exclamation-octagon" style="color: #ab0000; margin-left: 20px;"></i></div>
            <h4 class="title"><a routerLink="probleme">Service de signalement des problèmes</a></h4>
            <p class="description">Décrivez le  problème et envoyez-le à la municipalité pour qu'il l'examine et vous revienne avec l'évolution de la situation.</p>
          </div>
        </div>



      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 style="font-family: Lato">Nous contacter</h3>
      </div>
    </div>
  </section><!-- End Why Us Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container-fluid" data-aos="fade-up">



      <div class="row">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-5 info">
              <i class="bi bi-geo-alt"></i>
              <p>pole téchnologique</p>
            </div>
            <div class="col-md-4 info">
              <i class="bi bi-envelope"></i>
              <p>contact@innovup.com.tn</p>
            </div>
            <div class="col-md-3 info">
              <i class="bi bi-phone"></i>
              <p>+216 22571312</p>
            </div>
          </div>

          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required>
                </div>
                <div class="form-group col-lg-6 mt-3 mt-lg-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message a été envoyé. Merci!</div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Envoyer Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>Recette Municipale</h3>

        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liens Utiles</h4>
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li><a href="#about">A Propos</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">contact</a></li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contacter Nous</h4>
          <p>
            <strong>Adresse :</strong><br> Ariana,Tunisie <br><br>
            <strong>Numéro de téléphone:</strong> +216 22 57 13 12<br><br>
            <strong>Email:</strong> contact@innovup.com.tn<br>
          </p>



        </div>

        <div class="col-lg-3 col-md-6  social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>RECETTE MUNICIPALE</strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>
